@media screen and (max-width: 360px) {

    .main {
        background: rgba(194, 211, 214, 100%)
    }

    .btn {
        
        width: 77px;
        height: 78px;
        
        
        background-color: rgba(54, 184, 192, 100%);
        
        background-image: linear-gradient(to top, rgba(16, 15, 15, 0.25), rgba(255, 255, 255, 0) );        

        color: #ffffff;
        font-size: 36px;
    }

    .btnOperator {
        width: 77px;
        height: 78px;
        font-size: 36px;
    }

    
}
  
   